*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background: #333;
}
header{
    width: 100%;
    height: 20vh;
    background: #000;
    float: left; 
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
}
header h1{
    color: #8C43F7;
    font-size: 5rem;
    text-align: center;
    margin-top: 3vh;
    font-family: "Bebas Neue", sans-serif;
}
.game{
    width: 100%;
    height: 35vh;
    background: #ccc;
    float: left; 
    padding: 1%;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
}
#cs2{
    background: #DE8315;
}
#valorant{
    background: #F74352
}
.game h2{
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin-top: -1vh;
}
footer{
    width: 100%;
    height: 10vh;
    background: #000;
    float: left; 
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
footer p{
    color: #ccc;
    float: right;
    margin-right: 0.5%;
    margin-top: 6.2vh;
    font-size: 1.2rem;
}
.skins{
    float: left;
    width: 18%;
    height: 25vh;
    background: #ccc;
    margin-left: 1.8%;
    border-radius: 4vh;
    margin-top: 1vh;
}
.skins h1{
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1vh;
}
